body {
    background-color: #F4F1BB;
    font-family: "courier new", arial;
    font-size: 16px;
}

h1 {
    color: white;
    background-color: #ED6A5A;
    margin: 0;
    padding: 30px;
    font-size: 80px;
    border-radius: 10px;
    
}

h2 {
    color: white;
    background-color: #ED6A5A;
    height: 90px;
    line-height: 90px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1;
    font-size: 50px;
    padding-bottom: 5px;
}

h3 {
    color: white;
    background-color: #ED6A5A;
    margin-top: 0;
    margin-bottom: 1;
    padding: 30px;
    font-size: 30px;
    border-radius: 10px;
}   

table {
    border: none;
}

table, th, td {
    border: none;
    text-align: center;
    border-radius: 20px;
}

th {
    background-color: #ED6A5A;
    color: white;
    font-size: 22px;
    padding: 10px;
}

td {
    color: black;
    font-size: 18px;
    padding: 10px;
}

tr {
    background-color: #E6EBE0;
}

p, label {
    font-size: 20px;
}

textarea, input {
    font-size: 16px;
}

input, textarea, .select {
    border-radius: 10px;
    background-color: #E6EBE0;
    font-family: "courier new", arial;
    font-size: 15px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: black;
}

button:hover, .sort:hover {
    background-color: #E6EBE0;
    color: #ED6A5A;
}

#top {
    border-radius: 10px;
}

#search {
    text-align: right;
    padding-right: 30px;
    font: "couriar new";
    
}

.btn-link {
  border: none;
  outline: none;
  color:black;
  background: none;
  padding: 0;
  font-family: "courier new", arial;
  font-size: 20px;
  font-weight: bold;
}

.logo{
    display: block;
    margin: 0 auto;
}

.highlight:hover {
    background-color: #ffffff;
}

.button {
    background-color: #ED6A5A;
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 10px;
    font-family: "courier new", arial;
    font-weight: bold;
}

.question-title:hover {
    color: #ED6A5A;
    background-color: white;
}

.search, .title {
    width: 240px;
    transition: width 2s;
}

.search:focus, .title:focus {
    width: 1000px;
    transition: width 2s;
}

.tag {
    display: inline-block;
    vertical-align: middle;
}


