.btn-link{
  border: none;
  outline: none;
  color:black;
  background: none;
  padding: 0;
  font-family: "courier new", arial;
  font-size: 20px;
  font-weight: bold;
}

.logo{
    display: block;
    margin: 0 auto;
}

#top {
    border-radius: 10px;
}

body {
    background-color: #F4F1BB;
    font-family: "courier new", arial;
    font-size: 16px;
}

h1 {
    color: white;
    background-color: #ED6A5A;
    margin: 0;
    padding: 30px;
    font-size: 80px;
    
}

h2 {
    color: white;
    background-color: #ED6A5A;
    height: 90px;
    line-height: 90px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1;
    font-size: 50px;
    padding-bottom: 5px;
}

h3 {
    color: white;
    background-color: #ED6A5A;
    margin-top: 0;
    margin-bottom: 1;
    padding: 30px;
    font-size: 30px;
    border-radius: 10px;
}   

tr:hover {
    background-color: #ffffff;
}

th {
    background-color: #ED6A5A;
    color: white;
    font-size: 22px;
    padding: 10px;
}

td {
    color: black;
    background-color: #E6EBE0;
    font-size: 18px;
    padding: 10px;
}

table {
    border: none;
}

table, th, td {
    border: none;
    text-align: center;
    border-radius: 20px;
}

.button {
    background-color: #ED6A5A;
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 10px;
    font-family: "courier new", arial;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}

button:hover, .sort:hover {
    background-color: #E6EBE0;
    color: #ED6A5A;
}

input, textarea {
    border-radius: 10px;
    background-color: #E6EBE0;
}

#search {
    text-align: right;
    padding-right: 30px;
    font: "couriar new";
}
