.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}

.logo{
  display: block;
  margin: 0 auto;
}

.header{
  background-color: #044;
  color: #ffffff
}

body {
  background-color: #ffffff
}

h1 {
    color: #ffffff;
    background-color: #044;
    margin: 0
}

h2 {
  color: #ffffff;
  background-color: #044;
  height: 90px;
  line-height: 90px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1
}

h3 {
    color: #ffffff;
    background-color: #044;
    margin-top: 0;
    margin-bottom: 1
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:hover {
  background-color: #ffffff
}

th {
    background-color: #044;
    color: white;
}

table, th, td {
   border: 1px solid black;
   text-align: center;
}

.button {
    background-color: #044; /* Green */
    border: none;
    cursor:pointer;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}