<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="utf-8">
        <title>{{ form }}</title>
    </head>

    {% if add_answer %}
    {% for line in database %}
        {% if id_num == line['id'] %}
            <label for="title">Title</label><br>
            <input type="text" name="title" value="{{line['title']}}" readonly></input><br>
        {% endif %}
    {% endfor %}

        <label for="{{ form }}">{{ form }}</label><br>
            <textarea name="{{ form }}" rows="20" cols="80" required value="" minlength="10"></textarea><br>

        <label for="image">Image URL(optionally)</label><br>
            <input type="text" name="image" id="image"></input>
    {% endif %}

        <button class="button" type="submit">Save {{ form }}</button>
        </form>
    </body>
</html>