<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="utf-8">
        <title>{{ form }}</title>
    </head>

    <body>
        <h1>New {{ form }} for Answer</h1>

        <form action="/save-answer-{{ form }}" method="post">
        {% for line in answer_database %}
                <label for="title">Answer Message</label><br>
                <input type="text" name="title" value="{{line['message']}}" readonly></input><br>

            <label for="{{ form }}">{{ form }}</label><br>
                <textarea name="{{ form }}" rows="20" cols="80" required value="" minlength="10"></textarea><br>
    
            <input type="text" name="answer_id" hidden value={{line['id']}}></input>

            <button class="button" type="submit">Save {{ form }}</button>
        {% endfor %}
        </form>
    </body>
</html>