<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="utf-8">
        <title>{{ form }}</title>
    </head>

    <body>
        <h1>{{ form }}</h1>

        <form action="/save-{{ form }}" method="post">
            {% if title_help %}
                <p><label for="title"><strong>Title</strong></label><br></p>
                <p><input class="title" type="text" name="title" pattern=".{1,}" required title="1 character minimum"></input><br></p>

                <p><label for="{{ form }}"><strong>{{ form }}</strong></label><br></p>
                <p><textarea name="{{ form }}" rows="20" cols="80" required value="" minlength="10"></textarea><br></p>

                
                <p><label for="image"><strong>Image URL(optionally)</strong></label><br></p>
                <p><input class="title" type="text" name="image" id="image" size="30"></input></p>

                <p><label for="user"><strong>Added by</strong></label></p>
                <select class="select" id="user" name="user">
                    {% for line in database %}
                    <option value="{{ line['id'] }}"> {{ line['user_name'] }} </option>
                    {% endfor %}
                </select>

                
                <input type="text" name="question_id" hidden value=-1></input>
    
            {% endif %}
            <p><button class="button" type="submit">Save {{ form }}</button></p>
        </form>
    </body>
</html>