<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="utf-8">
        <title>{{ form }}</title>
    </head>

    <body>
        {% set id_num = id_num | int %}
        <h1>{{ form }}</h1>

        <form action="/save-{{ form }}" method="post">
        {% if add_answer %}
            {% for line in question_database %}
                {% if id_num == line['id'] %}
                    <p><label for="title"><strong>Title</strong></label><br></p>
                    <p><input type="text" name="title" size="82" value="{{line['title']}}" readonly></input><br>
                {% endif %}

                <p><label for="{{ form }}"><strong>{{ form }}</strong></label><br>
                    <p><textarea name="{{ form }}" rows="20" cols="80" required value="" minlength="10"></textarea><br>

                {% if form == "Answer" %}
                <p><label for="image"><strong>URL(optionally)</strong></label><br>
                    <p><input type="text" name="image" id="image"></input>
                {% endif %}

                <p><label for="user"><strong>Added by</strong></label></p>
                <select class="select" id="user" name="user">
                    {% for line in users_database %}
                    <option value="{{ line['id'] }}"> {{ line['user_name'] }} </option>
                    {% endfor %}
                </select>
        
                <input type="text" name="question_id" hidden value={{line['id']}}></input>

                <p><button class="button" type="submit">Save {{ form }}</button>
            {% endfor %}
        {% endif %}
        </form>
    </body>
</html>