<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="utf-8">
        <title>{{ form }}</title>
    </head>

    <body>
        <h1>New {{ form }} for Answer</h1>

        <form action="/save-answer-{{ form }}" method="post">
        {% for line in answer_database %}
                <p><label for="title"><strong>Message</strong></label><br></p>
                <p><input type="text" name="title" value="{{line['message']}}" readonly></input><br></p>

            <p><label for="{{ form }}"><strong>{{ form }}</strong></label><br></p>
                <p><textarea name="{{ form }}" rows="20" cols="80" required value="" minlength="10"></textarea><br></p>

            <p><label for="user"><strong>Added by</strong></label></p>
                <select class="select" id="user" name="user">
                    {% for line in users_database %}
                    <option value="{{ line['id'] }}"> {{ line['user_name'] }} </option>
                    {% endfor %}
                </select>
    
            <input type="text" name="answer_id" hidden value={{line['id']}}></input>

            <p><button class="button" type="submit">Save {{ form }}</button></p>
        {% endfor %}
        </form>
    </body>
</html>