<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ form }}</title>
    </head>
    <body>
        <h1>{{ form }}</h1>
        <form action="/save-{{ form }}" method="post" enctype="multipart/form-data">
            {% if add_answer %}
            <label for="title">Title</label><br>
            <input type="text" name="title"></input><br>
            {% elif title_help %}
            <label for="title">Title</label><br>
            <input type="text" name="title" pattern=".{1,}" required title="1 character minimum"></input><br>
            {% endif %}
            {% for item in q_list %}
            {% if id_pos == item[0] %}
            <label for="title">Title</label><br>
            <input type="text" name="title" value="{{item[4]}}" readonly></input><br>
            {% endif %}
            {% endfor %}
            <br>
            {% for item in table %}
            {% if id_pos == item[0] %}
            <label for="title">Title</label><br>
            <input type="text" name="title" value="{{item[4]}}" pattern=".{1,}" required title="1 character minimum"></input><br>
            {% endif %}
            {% endfor %}
            <label for="{{ form }}">{{ form }}</label><br>
            <textarea name="{{ form }}" rows="20" cols="80" value="" minlength="10"></textarea><br>
            <textarea name="id" rows="8" cols="80" hidden>{{ data[0] }}</textarea><br>
            
            <br>
            <!--
            <label for="image">Image (optionally)</label><br>
            <input type="file" name="image" id="image" size="40" accept="image/*">-->
            
            <br><br>
            
            <button type="submit">Save {{ form }}</button>
        </form>
    </body>
</html>