<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="utf-8">
        <title>New Tag</title>
    </head>

    <body>
        <h1>Add New Tag</h1>

        <form action="/save-tag" method="post">
            {% for line in question_database %}
                <p><label for="title"><strong>Title</strong></label><br></p>
                    <p><input type="text" name="title" size="70" value="{{line['title']}}" readonly></input><br></p>

                <p><label for="Tag"><strong>Tag</strong></label><br></p>
                    <p><input type="text" size="70" name="Tag"></input><br></p>
        
                <input type="text" name="question_id" hidden value={{line['id']}}></input>
            {% endfor %}
            <br>
            <h3>Or Choose an Existing One</h3><br>
            <select class="select" name="tags">
                    <option>None</option>
            {% for row in tag_database %}
                    <option>{{row["name"]}}</option>
            {% endfor %}
            </select>
            <button class="button" type="submit">Save Tag</button>
        
        </form>
    </body>
</html>